:root{
    --primary: #fff
}

.btn{
    padding: 20px 8px;
    border-radius: 2px;
    outline:none;
    border:none;
    cursor: pointer;
}

.btn--primary{
    background-color: var(--primary);
    color:#242424;
    border: 1px solid var(--primary);  
    border-radius: 5px;
    font-size: 0.5rem;

}

.btn--outline{
    background-color: transparent;
    color:#fff;
    padding: 8px 20px;
    border: 1px solid var(--primary);  
    border-radius: 5px;
    transition: all 0.3s ease-out;
    font-size: 0.5rem;

}

.btn--medium{
    padding:8px 20px;
    font-size: 1rem;
}

.btn--large{
    padding: 12px 26px;
    font-size: 1.5rem;
}

.btn--medium:hover, .btn--large:hover{
    background: #fff;
    color:#242424;
    transition: all 0.3s ease-out;}